# Audio and Graphics folders
Audio/
Graphics/

# Data folder, but not Data/Scripts folder
Data/*
!Data/Scripts.rxdata
!Data/Scripts/

# Files in the main project folder
Game.ini
Game.rxproj
RGSS*.dll

# Temp files

~*